---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655055243,"sunrise":1655033490,"sunset":1655087299,"temp":88.11,"feels_like":85.37,"pressure":994,"humidity":27,"dew_point":49.95,"uvi":9.93,"clouds":9,"visibility":10000,"wind_speed":1.01,"wind_deg":125,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1655055300,"precipitation":0},{"dt":1655055360,"precipitation":0},{"dt":1655055420,"precipitation":0},{"dt":1655055480,"precipitation":0},{"dt":1655055540,"precipitation":0},{"dt":1655055600,"precipitation":0},{"dt":1655055660,"precipitation":0},{"dt":1655055720,"precipitation":0},{"dt":1655055780,"precipitation":0},{"dt":1655055840,"precipitation":0},{"dt":1655055900,"precipitation":0},{"dt":1655055960,"precipitation":0},{"dt":1655056020,"precipitation":0},{"dt":1655056080,"precipitation":0},{"dt":1655056140,"precipitati[...]
[...]
