---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT SHOW MY API KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 12 Jun 2022 18:54:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1872232894"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT
        SHOW MY API KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1194066804"}]}]}'
  recorded_at: Sun, 12 Jun 2022 18:54:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655060073,"sunrise":1655033490,"sunset":1655087299,"temp":89.56,"feels_like":86.54,"pressure":1002,"humidity":25,"dew_point":49.12,"uvi":9.2,"clouds":63,"visibility":10000,"wind_speed":1.99,"wind_deg":5,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1655060100,"precipitation":0},{"dt":1655060160,"precipitation":0},{"dt":1655060220,"precipitation":0},{"dt":1655060280,"precipitation":0},{"dt":1655060340,"precipitation":0},{"dt":1655060400,"precipitation":0},{"dt":1655060460,"precipitation":0},{"dt":1655060520,"precipitation":0},{"dt":1655060580,"precipitation":0},{"dt":1655060640,"precipitation":0},{"dt":1655060700,"precipitation":0},{"dt":1655060760,"precipitation":0},{"dt":1655060820,"precipitation":0},{"dt":1655060880,"precipitation":0},{"dt":1655060940,"precipitati[...]
[...]
